name: Build Android APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flet
          pip install -r requirements.txt

      # ӨЗГЕРТІЛГЕН ЖЕР 1: Нақты версияның орнына 'stable' қолданамыз
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      # ӨЗГЕРТІЛГЕН ЖЕР 2: "yes" командасы сұраққа автоматты түрде жауап береді
      - name: Build APK
        run: |
          yes | flet build apk --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ubt-app-release
          path: build/apk/app-release.apk
